<html>
   <body>
   <h3>Parameters</h3>
      <form action = "http://localhost:33507/result" method = "POST">
         <p>filename <input type = "text" name = "filename" /></p>
         <p>symbols -- enter as comma separated symbols without spaces. Ex: VTI,VO,VB,IWC <input type = "text" name = "symbols" /></p>
         <p>start_date (YYYY-MM-DD) <input type = "text" name = "start_date" /></p>
         <p>end_date (YYYY-MM-DD) <input type = "text" name = "end_date" /></p>
         <p>thirty_day_weight (two decimal places) <input type = "number" step = "0.01" name = "thirty_day_weight" /></p>
         <p>sixty_day_weight <input type = "number" step = "0.01" name = "sixty_day_weight" /></p>
         <p>ninety_day_weight <input type = "number" step = "0.01" name = "ninety_day_weight" /></p>
         <p>one_eighty_day_weight <input type = "number" step = "0.01" name = "one_eighty_day_weight" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>